<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon class="icon-size-segment" name="home"></ion-icon>
      </ion-tab-button>

      <!-- Muestra el tab de "puntos" solo si el usuario es admin -->
      <ion-tab-button *ngIf="isAdmin" tab="puntos">
        <ion-icon name="hammer-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="historial">
        <ion-icon name="receipt-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>  
</ion-content>
