/* fondo */
ion-content {
    --background:#c4dee7;
}
  
  /* sacar el subrrayado */
a{
    text-decoration: none;
}
  
  /* tamaño logo */
.logo-size {
    width: 12%;
    height: 12%;
    border-radius: 50%; /* Hace que la imagen sea circular */
    object-fit: cover; /* Asegura que la imagen se recorte correctamente */
    overflow: hidden; /* Evita que partes de la imagen se desborden */
}

/* container logo */
.container-end {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 20px 25px 0px 0px; /* | arriba || derecha || abajo || izquierda | */
  }