<ion-content class="ion-padding">
  <div class="container-end">
    <img routerLink="/perfil" src="assets/isotipos/logo perfil.png" alt="logo" class="logo-size" />
  </div>
    <ion-text class="tittle">Puntos de Reciclaje</ion-text>
    
    <!-- Encabezado de localización -->
    <div class="container">
      
      <ion-text class="text">Mostrando opciones cerca de Viña</ion-text>
    </div>
  
    
  
    <!-- Lista de proveedores -->
    <div class="providers-list">
      <ion-card *ngFor="let provider of providers" class="card-puntos">
        <ion-card-header>
          <ion-card-title>{{ provider.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ provider.distance }} km • {{ provider.address }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  
    <!-- Mapa con bordes redondeados -->
    <google-map
  height="400px"
  width="100%"
  [center]="center"
  [zoom]="zoom"
>
  
</google-map>



  </ion-content>


  
