<ion-content [fullscreen]="true">


  <div class="container-end">
    <img routerLink="/perfil" src="assets/isotipos/logo perfil.png" alt="logo" class="logo-size" />
  </div>
  

  <div class="container_start-padding_down">
    <ion-text class="tittle">Soporte técnico</ion-text>
  </div>

  <div class="container_start-padding_down">
      <ion-text routerLink="/tabs/historial" class="text">Mis resumenes ></ion-text>
  </div>


    <div class="carrucel">

      <a routerLink="/tabs/historial">
        <ion-card color="success" class="text-center-white card-size">
        <ion-card-header>
          <ion-card-title>Mantención</ion-card-title>
          <ion-card-subtitle>00/00/0000</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>Listo </ion-card-content>
      </ion-card></a>

  
      <a routerLink="/tabs/historial">
        <ion-card color="success" class="text-center-white card-size">
        <ion-card-header>
          <ion-card-title>Reparación</ion-card-title>
          <ion-card-subtitle>00/00/0000</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>Listo </ion-card-content>
      </ion-card></a>
  
      <a routerLink="/tabs/historial">
        <ion-card color="success" class="text-center-white card-size">
        <ion-card-header>
          <ion-card-title>Revición</ion-card-title>
          <ion-card-subtitle>00/00/0000</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>Listo </ion-card-content>
      </ion-card></a>

      <a routerLink="/tabs/historial">
        <ion-card color="success" class="text-center-white card-size">
        <ion-card-header>
          <ion-card-title>Mantención</ion-card-title>
          <ion-card-subtitle>00/00/0000</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>Listo </ion-card-content>
      </ion-card></a>

      <a routerLink="/tabs/historial">
        <ion-card color="success" class="text-center-white card-size">
        <ion-card-header>
          <ion-card-title>Mantención</ion-card-title>
          <ion-card-subtitle>00/00/0000</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>Listo </ion-card-content>
      </ion-card></a>
    </div>

    <div class="container_start-padding_up">
      <ion-text class="text">Herramientas de soporte</ion-text>
    </div>

    <div class="container-center">
      <ion-button routerLink="/visitas" class="style-btn">
        <img src="assets/icon/agendar.png" alt="icon" class="icon-size-small" />
        <ion-text class="text-center-white">Agendar visita</ion-text>
      </ion-button>

      <ion-button routerLink="/cobertura" class="style-btn">
        <img src="assets/icon/cobertura.png" alt="icon" class="icon-size-small" />
        <ion-text class="text-center-white">Cobertura</ion-text>
      </ion-button>

      <ion-button routerLink="/reciclar" class="style-btn">
        <img src="assets/icon/reciclar.png" alt="icon" class="icon-size-small" />
        <ion-text class="text-center-white">Reciclar aparato</ion-text>
      </ion-button>
    </div>
    
    <div class="container_start-padding_up">
      <ion-text class="text">Ayuda</ion-text>
    </div>

    <a routerLink="/contacto" class="container-center">
      <ion-button class="style-btn">
        <img src="assets/icon/ayuda.png" alt="icon" class="icon-size-big" />
        <ion-text class="text-center-white">Contáctate con nosotros</ion-text>
      </ion-button>
    </a>
</ion-content>
