/* fondo */
ion-content {
  --background:#c4dee7;
}

/* sacar el subrrayado */
a{
  text-decoration: none;
}

/* tamaño logo */
.logo-size {
  width: 12%;
  height: 12%;
}

/* container logo */
.container-end {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 12px 12px 12px 12px; /* | arriba || derecha || abajo || izquierda | */
}

/* container botones */
.container-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px 0px 5px 0px; /* | arriba || derecha || abajo || izquierda | */
}

.container-start {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 5px 0px 5px 0px; /* | arriba || derecha || abajo || izquierda | */
}

/* container textos */
.container_start-padding_down {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0px 0px 20px 20px; /* | arriba || derecha || abajo || izquierda | */
}

/* container textos */
.container_start-padding_up {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 0px 0px 20px; /* | arriba || derecha || abajo || izquierda | */
}
/* titulos */
.tittle {
  color: #413f3f;
  font-size: 2.5em;
  font-family: 'Franklin Gothic Medium';
}

/* titulos-mas pequeños */
.text{
  color: #413f3f;
  font-size: 1.6em;
  font-family: 'Franklin Gothic Medium';
}
/* texto centrado blanco */
.text-center-white{
  text-align: center;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* tamaño tarjetas */
.card-size{
  width: 150px; /* Estirar a los lados */
  height: 120px; /* Estirar para abajo */
  border-radius: 15px; /* modificar los bordes */

}

/* carrucel tarjetas */
.carrucel {
  display: flex;
  overflow-x: scroll; /* Permite el desplazamiento horizontal */
  gap: 2px; /* Espacio entre las tarjetas*/
  scrollbar-width: none; /* esconde el scrollbar */
}

.style-btn{
  --background: #283df7;
  width: 90%;
  font-size: 1.2em;
  --border-radius: 15px; /* modificar los bordes */
}

ion-text {
  flex: 1; /* Hace que el texto ocupe el espacio restante */
}

.icon-size-small{
  width: 12%;
  height: 12%;
}

.icon-size-big{
  width: 30%;
  height: 30%;
}

.icon-size-segment {
  width: 70%;
  height: 70%;
}

ion-segment {
  background-color: rgba(255, 255, 255, 0.3); /* Fondo blanco semitransparente */
  backdrop-filter: blur(10px); /* Ajusta la cantidad de desenfoque */
  -webkit-backdrop-filter: blur(10px); /* Soporte para Safari */
  border-radius: 12px; /* Si deseas bordes redondeados */
  padding: 5px; /* Espacio interior opcional */
}

/* Estilo para los iconos que no están seleccionados */
ion-segment-button:not(.segment-button-checked) .icon-size-segment {
  color: #1d1d1d;
}

/* Estilo para el icono seleccionado */
ion-segment-button.segment-button-checked .icon-size-segment {
  color: #1654ff; /* El color celeste o el que desees para el icono seleccionado */
}