ion-content {
    --background:#c4dee7;
}

.logo {
    width: 12%;
    height: 12%;
}

.container-end {
    display: flex;
    align-items: end;
    flex-direction: column;
    width: 100%;            
    padding-inline: 20px;
    padding-block: 20px; 
}

.title-left{
    color: #413f3f;
    padding-inline: 20px;
    padding-block: 0px; 
    font-size: 2.5em;
    font-family: 'Franklin Gothic Medium';
}
.title-2-left{
    padding-inline: 20px;
    margin-top: 20px; 
    font-size: 1.7em;
    font-family: 'Franklin Gothic Medium';
    text-decoration: none;
}

.text-left{
  color: #413f3f;
  text-decoration: none;
 }


.title-3-left{
    color: #413f3f;
    padding-inline: 20px;
    margin-top: 10px; 
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium';
}

.carrucel-wrapper {
    overflow: hidden; /* Oculta la barra de desplazamiento del contenedor principal */
  }
  
  .carrucel {
    display: flex;
    overflow-x: scroll; /* Permite el desplazamiento horizontal */
    scroll-behavior: smooth; /* Opcional: suaviza el desplazamiento */
    gap: 2px; /* Espacio entre las tarjetas, ajusta según sea necesario */
    -ms-overflow-style: none;  /* Para Internet Explorer y Edge */
    scrollbar-width: none;  /* Para Firefox */
    padding-block: 15px; 
  }
  
  /* Oculta la barra de desplazamiento en navegadores basados en WebKit */
  .carrucel::-webkit-scrollbar {
    display: none;
  }
  
  ion-card {
    flex: 0 0 auto; /* Evita que las tarjetas se estiren y les permite mantener su tamaño */
    color: white;
    text-align: center; /* Centra el texto horizontalmente */
    font-family: 'Franklin Gothic Medium';
  }
  
.container-center-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.btn-1 {
  font-size: 1.2em;
  font-family: 'Franklin Gothic Medium';
  width: 90%;
  color: white;
  --background: #283df7;
  margin-top: 10px;
  text-align: left;
  --border-radius: 15px;
}

.btn-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.icon {
  width: 12%;
  height: 12%;
  margin-right: 10px;
}
.icon-grande {
  width: 30%;
  height: 30%;
  margin-right: 10px;
}