<ion-content [fullscreen]="true">

  <a routerLink="/tabs/home" class="container-start">
    <ion-text class="text">&lt; Atrás</ion-text>
  </a>

  <div class="container-center">
    <img [src]="user?.photoURL || 'assets/isotipos/logo perfil.png'" alt="logo" class="logo-size" />
  </div>
  
  <div class="container_center-padding_up">
    <ion-text class="tittle">{{ user?.displayName || 'Nombre de usuario' }}</ion-text>
  </div>

  <div class="container_center-padding_up_correo">
    <ion-text class="text">{{ user?.email || 'Correo electrónico' }}</ion-text>
  </div>
  
  <div class="container_center-padding_up">
    <ion-button (click)="redirectToGoogle()" class="style-btn-white" fill="outline">
      <ion-text class="text-center-black">Editar perfil</ion-text>
    </ion-button>
  </div>

  <div class="container_center-padding_up">
    <ion-button (click)="logout()" class="style-btn-red">
      <ion-text class="text-center-white">Cerrar sesión</ion-text>
    </ion-button>
  </div>

</ion-content>
