/* fondo */
ion-content {
    --background:#c4dee7;
}
  
  /* sacar el subrrayado */
a{
    text-decoration: none;
}

.container-start {
  display: flex;
  align-items: start;
  flex-direction: column;
  display: inline-block;
  padding: 30px 12px 12px 12px; /* | arriba || derecha || abajo || izquierda | */
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px; /* Ajusta el padding según tus necesidades */
  box-sizing: border-box; /* Incluye el padding en el cálculo del ancho total */
  width: 100%; /* Asegura que el contenedor use el ancho completo del elemento padre */
}

ion-card {
  width: 100%; /* Ajusta el ancho de la tarjeta según sea necesario */
  max-width: 400px; /* Ajusta el ancho máximo de la tarjeta */
  margin-bottom: 16px; /* Espacio entre tarjetas */
}

.container-center2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px 0px 20px; /* | arriba || derecha || abajo || izquierda | */
}

.style-card{
  background: #77c8e4;
}

.text-card{
  color: #ffffff;
  font-size: 1.0em;
  font-family: sans-serif;
  padding: 5px 10px 0px 10px; /* | arriba || derecha || abajo || izquierda | */
}
.text-card-1{
  color: #838383;
  font-size: 0.8em;
  font-family: sans-serif;
  padding: 0px 10px 0px 10px; /* | arriba || derecha || abajo || izquierda | */
}
.text-card-2{
  color: #838383;
  font-size: 0.8em;
  font-family: sans-serif;
  padding: 0px 10px 5px 10px; /* | arriba || derecha || abajo || izquierda | */
}

.bajar-texto {
  display: flex;
  flex-direction: column; /* Asegura que los textos se apilen verticalmente */
  align-items: flex-start; /* Alinea los textos al inicio del contenedor */
  padding: 0px 0px 0px 0px; /* | arriba || derecha || abajo || izquierda | */
}

/* titulos-mas pequeños */
.text{
  color: #413f3f;
  font-size: 1.6em;
  font-family: 'Franklin Gothic Medium';
}

/* container textos */
.container_start-padding_down {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0px 10px 5px 10px; /* | arriba || derecha || abajo || izquierda | */
}

/* titulos */
.tittle {
  color: #413f3f;
  font-size: 2.0em;
  font-family: 'Franklin Gothic Medium';
}

.container-input {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  color: #333333;
  padding-inline: 20px;
  padding-block: 10px; 
  font-family: sans-serif;
}

ion-input{
  --border-radius: 15px !important; /* Redondear las esquinas */
  --background: white; /* Cambiar el color de fondo */
  --box-shadow: none; /* Quitar sombra si es necesario */
  padding: 10px; /* Asegurar que el contenido no toque las esquinas redondeadas */
}

.text-left{
  color: #413f3f;
  font-family: sans-serif;
  align-items: left;
  padding: 20px;
  text-decoration: none;
}

 /* container textos */
.container_start-padding_up {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 0px 0px 20px; /* | arriba || derecha || abajo || izquierda | */
}