

      
  <ion-content>
    <div class="container-input"></div>
    <div class="container-center">
      <img src="assets/isotipos/logo perfil.png" alt="logo" class="icon-size" />
      
    </div>
    <h1 class="text-center-black">Actualizar Disponibilidad</h1>
    
    <div class="container-start">
      <ion-text class="text-center-black">
        <h2>Selecciona tu fechas y horario</h2>
      </ion-text>
      <div class="container-input">
      <!-- Calendario interactivo -->
      <ion-datetime display-format="MMMM D, YYYY" placeholder="Selecciona una fecha"></ion-datetime>
    </div>
      <!-- Selección de horas -->
      
      <!-- Botón Guardar -->
      <div class="container-input">
        <ion-button expand="block" class="style-btn">Guardar Horario</ion-button>
      </div>
    </div>
  </ion-content>
  

