<ion-content class="custom-modal-css">
  <ion-card class="container">
    <ion-card-header >
      <h1 class="text">Cambia tu {{ field }}</h1>
      <p class="text-input">Introduce un nuevo {{ field }} y tu contraseña existente.</p>
    </ion-card-header>
    <ion-card-content class="content">
      <ion-item class="content">
        <ion-label position="stacked">{{ field }}</ion-label>
        <ion-input [(ngModel)]="newFieldValue"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Contraseña actual</ion-label>
        <ion-input type="password" [(ngModel)]="currentPassword"></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-footer>
      <ion-button expand="block" (click)="saveChanges()" class="style-btn">Listo</ion-button>
      <ion-button expand="block" color="light" (click)="closeModal()" class="style-btn-red">Cancelar</ion-button>
    </ion-footer>
  </ion-card>
</ion-content>
