<ion-content [fullscreen]="true" class="no-scroll">
  <div class="container-end">
    <img routerLink="/perfil" src="assets/isotipos/logo perfil.png" alt="logo" class="logo-size" />
  </div>
  
  <div class="container_start-padding_down">
    <ion-text class="tittle">Historial de resumenes</ion-text>
  </div>

  <ion-content>
    <ion-card [color]="card.color" class="text-center-white card-size" *ngFor="let card of cards">
      <ion-card-header>
        <ion-card-title>{{ card.title }}</ion-card-title>
        <ion-card-subtitle>{{ card.subtitle }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{ card.content }}
      </ion-card-content>
    </ion-card>
  </ion-content>

</ion-content>

