/* fondo */
ion-content {
    --background:#c4dee7;
}

/* sacar el subrrayado */
a{
    text-decoration: none;
}

/* container textos */
.container_start-padding_down {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0px 0px 20px 10px; /* | arriba || derecha || abajo || izquierda | */
}

/* titulos */
.tittle {
    color: #413f3f;
    font-size: 2.0em;
    font-family: 'Franklin Gothic Medium';
}

/* tamaño logo */
.logo-size {
    width: 12%;
    height: 12%;
}

/* container logo */
.container-end {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 20px 25px 0px 0px; /* | arriba || derecha || abajo || izquierda | */
  }

.style-segment{
    padding: 0px 20px 0px 20px; /* | arriba || derecha || abajo || izquierda | */
}

.style-btn{
    background: white;
}

.only-border-left{
    border-radius:0px 15px 15px 0px; /* | arriba izquerida || arriba derecha || abajo derecha || abajo izquierda | */
}
.only-border-right{
    border-radius:15px 0px 0px 15px; /* | arriba izquerida || arriba derecha || abajo derecha || abajo izquierda | */
}

.text-center-black{
  text-align: center;
  color: rgb(3, 3, 3);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

  