<ion-content [fullscreen]="true">

  <a routerLink="/tabs/home" class="container-start">
    <ion-text class="text">< Listo </ion-text>
  </a>

  <div class="container_start-padding_down">
    <ion-text class="tittle">Agendar Visita</ion-text>
  </div>

  <form [formGroup]="visitaForm" (ngSubmit)="onSubmit()">
    <ion-list>

      <div class="container-input">
        <ion-text class="text-mini">Fecha de la Visita</ion-text>
        <ion-item class="style-input-fecha" >
          <ion-datetime
            formControlName="fecha"
            displayFormat="DD/MM/YYYY"
            placeholder="Selecciona la fecha">
          </ion-datetime>
        </ion-item>
        <ion-text color="danger" *ngIf="fecha?.hasError('required') && fecha?.touched">
          La fecha de la visita es requerida.
        </ion-text>
      </div>

      <div class="container-input">
        <ion-text class="text-mini">Direccion</ion-text>
        <ion-textarea class="style-input-text" ></ion-textarea>
        <ion-text color="danger" *ngIf="direccion?.hasError('required') && direccion?.touched">
          La dirección es requerida.
        </ion-text>
      </div>

      <div class="container-input">
        <ion-text class="text-mini">Motivo</ion-text>
        <ion-textarea class="style-input-text" ></ion-textarea>
        <ion-text color="danger" *ngIf="direccion?.hasError('required') && direccion?.touched">
          El motivo es requerido.
        </ion-text>
      </div>

      <div class="container-input">
        <ion-text class="text-mini">Adjuntar Imágenes</ion-text>
        <ion-item class="style-input-text">
          <input type="file" accept="image/*" (change)="onFileChange($event)" multiple>
        </ion-item>
        <ion-text color="danger" *ngIf="(imagenes && imagenes.length > maxImages)">
          No puedes subir más de {{maxImages}} imágenes.
        </ion-text>
      </div>
      
      <div class="container_center-padding_up">
        <ion-button class="style-btn-white" expand="block" type="submit" [disabled]="visitaForm.invalid" fill="outline"><ion-text class="text-center-black">editar perfil</ion-text></ion-button>
      </div>


    </ion-list>
  </form>
  


  