<ion-content [fullscreen]="true">

  <a routerLink="/tabs/home" class="container-start">
    <ion-text class="text">< Cancelar </ion-text>
  </a>

  <!-- Título de la página -->
  <div class="container_start-padding_down">
    <ion-text class="tittle">Agendar Visita</ion-text>
  </div>

  <form [formGroup]="visitaForm" (ngSubmit)="onSubmit()">

    <div class="container-input" >
      <ion-text>Cliente</ion-text>
      <ion-input fill="outline" type="text" formControlName="cliente" required></ion-input>
    </div>

    <div class="container-select">
      <ion-text>Titulo</ion-text>
        <ion-select formControlName="titulo" label-placement="stacked" placeholder="Selecciona un título" fill="outline">
          <ion-select-option value="Reparación">Reparación</ion-select-option>
          <ion-select-option value="Mantenimiento">Mantenimiento</ion-select-option>
          <ion-select-option value="Revisión">Revisión</ion-select-option>
        </ion-select>
    </div>
    <div class="container-input" >
      <ion-text>Fecha</ion-text>
      <ion-input class="ion-input-date-and-time" fill="outline" type="date" formControlName="fecha" required></ion-input>
    </div>
    <div class="container-input" >
      <ion-text>Hora</ion-text>
      <ion-input class="ion-input-date-and-time" fill="outline" type="time" formControlName="hora" required></ion-input>
    </div>
    <div class="container-input">
      <ion-text>Dirección</ion-text>
      <ion-input fill="outline" type="text" formControlName="direccion" required></ion-input>
    </div>
    
    <div class="container-input">
      <ion-text>Motivo</ion-text>
      <ion-input fill="outline" type="text" formControlName="motivo" required></ion-input>
    </div>

    <div class="container-center-btn">
      <ion-button shape="round" class="btn-1" type="submit" [disabled]="!visitaForm.valid">Enviar</ion-button>
    </div>
  </form>

</ion-content>

