<ion-content [fullscreen]="true">
  <div class="container-center">
    <img src="assets/isotipos/logo.png" alt="Logo" class="logo" />
    <ion-text class="login-title">Registro</ion-text>
  </div>
  <div class="container-input">
    <ion-text>Usuario</ion-text>
    <ion-input fill="outline" type="user" [counter]="true" maxlength="20"></ion-input>
  </div>
  <div class="container-input">
    <ion-text>Correo electrónico</ion-text>
    <ion-input fill="outline" type="email"></ion-input>
  </div>
  <div class="container-input">
    <ion-text>Contraseña</ion-text>
    <ion-input fill="outline" type="password"></ion-input>
  </div> 
  <div class="container-input">
    <ion-text>Repetir contraseña</ion-text>
    <ion-input fill="outline" type="password"></ion-input>
  </div> 
  <div class="container-center-btn">
    <ion-button shape="round" class="btn-1" routerLink="/tabs/home" >Registrar</ion-button>
  </div>
</ion-content>

