ion-content {
    --background: linear-gradient(to bottom,#c4dee7,#c4dee7,#c4dee7,#c4dee7,#c4dee7, #3434eb);
}

.container-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;            
    margin-top: 0px; 
}

.container-input {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    color: #333333;
    padding-inline: 20px;
    padding-block: 5px; 
    font-family: sans-serif;
    
    
    
}

ion-input{
    --border-radius: 15px !important; /* Redondear las esquinas */
    --background: white; /* Cambiar el color de fondo */
    --box-shadow: none; /* Quitar sombra si es necesario */
    padding: 10px; /* Asegurar que el contenido no toque las esquinas redondeadas */
}

.logo {
    width: 60%;
    height: 60%;
}

.login-title{
    color: #413f3f;
    margin-top: 0px; 
    margin-bottom: 10px;
    font-size: 2.5em;
    font-family: 'Franklin Gothic Medium';
}

.container-center-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;            
    margin-top: 10px; 
}

.btn-1{
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium';
    width: 60%;
    color: white;
    --background: #23C3FA;
}


  