<ion-content [fullscreen]="true">

  <a routerLink="/login" class="container-start">
    <ion-text class="text">< Atras </ion-text>
  </a>

  <div class="container-center" #logo>
    <img src="assets/isotipos/logo.png" alt="Logo" class="logo" />
  </div>

  <div class="container-center" #texto>
    <ion-text  class="login-title">Registro</ion-text>
  </div>

  <div class="container-input">
    <ion-text>Usuario</ion-text>
    <ion-input fill="outline" type="user" [(ngModel)]="register.user" [counter]="true" maxlength="20"></ion-input>
  </div>
  <div class="container-input">
    <ion-text>Correo electrónico</ion-text>
    <ion-input fill="outline" [(ngModel)]="register.email" type="email"></ion-input>
  </div>
  <div class="container-input">
    <ion-text>Contraseña</ion-text>
    <ion-input fill="outline" [(ngModel)]="register.password" type="password"></ion-input>
  </div> 
  <div class="container-input">
    <ion-text>Repetir contraseña</ion-text>
    <ion-input fill="outline" [(ngModel)]="register.repeatPassword" type="password"></ion-input>
  </div> 
  <div class="container-center-btn">
    <ion-button shape="round" class="btn-1" (click)="registerSesion()">Registrar</ion-button>
  </div>
</ion-content>

