<ion-content [fullscreen]="true">
  <div class="container-center">
    <img src="assets/icon/logo.png" alt="Logo" class="logo" />
    <ion-text class="login-title">Inicio sesión</ion-text>
  </div>
  <div class="container-input">
    <ion-text>Correo electrónico</ion-text>
    <ion-input fill="outline"></ion-input>
  </div>
  <div class="container-input">
    <ion-text>Contraseña</ion-text>
    <ion-input fill="outline"></ion-input>
  </div> 
  <ion-text class="text-left">¿olvidaste tu contraseña?</ion-text>
  <div class="container-center-btn">
    <ion-button shape="round" class="btn-1" >Iniciar</ion-button>
    <ion-button shape="round" class="btn-1" >Registrar</ion-button>
  </div>
</ion-content>
