<ion-content [fullscreen]="true">
  <!-- Volver -->
  <a routerLink="/tabs/home" class="container-start">
    <ion-text class="title">&lt; Volver</ion-text>
  </a>

  <!-- Título de la sección -->
  <div class="container-center">
    <ion-text class="title">Contacto</ion-text>
  </div>

  <!-- Descripción -->
  <div class="container-center">
    <ion-text class="text">Aquí podrás encontrar información para contactar en caso de cualquier problema.</ion-text>
  </div>

  <!-- Número de teléfono: generar llamada directa -->
  <div class="container-center">
    <ion-text class="text">
      <span>Presiona para poder contactarnos: </span>
      <div>
        <a href="tel:+56940846441" class="contact-link">+569 40846441</a>
      </div>
    </ion-text>
  </div>

  <!-- Correo electrónico: botón para abrir correo -->
  <div class="container-center">
    <ion-text class="text">Correo: </ion-text>
    <ion-button class="btn-email" fill="solid" href="mailto:Nia.munoz@duocuc.cl">
      <ion-text class="btn-text">Enviar Correo</ion-text>
    </ion-button>
  </div>

  <!-- Instagram: redirigir a perfil de Instagram -->
  <div class="container-center">
    <ion-text class="text">Búscanos en redes sociales:</ion-text>
    <a href="https://www.instagram.com/cat_tech__" target="_blank">
      <ion-icon name="logo-instagram" size="large" class="icon-instagram"></ion-icon>
    </a>
  </div>
</ion-content>
