<ion-content [fullscreen]="true">

  <a routerLink="/tabs/home" class="container-start">
      <ion-text class="tittle">< Listo </ion-text>
  </a>

  <div class="container_start-padding_down">
    <ion-text class="tittle">Contácto de ayuda</ion-text>
  </div>

  <div class="container-center">
    <ion-text class="text ">Aquí podrás encontrar información para contactar en caso de cualquier problema.</ion-text>
  </div>

  <div class="container-center">
    <ion-text class="text ">+569 00000000</ion-text>
  </div>

  <div class="container-center">
    <ion-text class="text ">aqui va el correo </ion-text>
  </div>

</ion-content>