<ion-content [fullscreen]="true">

  <a routerLink="/tabs/home" class="container-start">
    <ion-text class="title">< Volver </ion-text>
  </a>

  <ion-text class="title">Contacto</ion-text>

  <div class="container-center">
    <ion-text class="text">Aquí podrás encontrar información para contactar en caso de cualquier problema.</ion-text>
  </div>

  <!-- Número de teléfono: generar llamada directa -->
  <div class="container-center">
    <ion-text class="text">
      <a href="tel:+56900000000">+569 00000000</a>
    </ion-text>
  </div>

  <!-- Correo electrónico: copiar al portapapeles -->
  <div class="container-center">
    <ion-text class="text">Correo: aqui va el correo</ion-text>
    
  </div>

  <!-- Instagram: redirigir a perfil de Instagram -->
  <div class="container-center">
    <ion-text class="text">
      <a href="https://www.instagram.com/tu_perfil" target="_blank">
        Instagram
      </a>
    </ion-text>
  </div>

</ion-content>
